[submodule "apps/backend-nestjs"]
	path = apps/backend-nestjs
	url = https://github.com/ilcann/secur-ai-backend-nestjs.git
	branch = master
[submodule "apps/backend-fastapi"]
	path = apps/backend-fastapi
	url = https://github.com/ilcann/secur-ai-backend-fastapi.git
	branch = master
[submodule "apps/frontend-nextjs"]
	path = apps/frontend-nextjs
	url = https://github.com/ilcann/secur-ai-frontend-nextjs.git
[submodule "apps/frontend-react"]
	path = apps/frontend-react
	url = https://github.com/ilcann/secur-ai-frontend-react.git
	branch = master
