[submodule "apps/backend-nestjs"]
	path = apps/backend-nestjs
	url = https://github.com/ilcann/secur-ai-backend-nestjs.git
[submodule "apps/frontend-web"]
	path = apps/frontend-web
	url = https://github.com/ilcann/secur-ai-frontend-web.git
[submodule "apps/backend-fastapi"]
	path = apps/backend-fastapi
	url = https://github.com/ilcann/secur-ai-backend-fastapi.git
